/node_modules/
/projects/personal/
/projects/backup/
/projects/templates/
/projects/**/src/css/main.css
/projects/**/src/css/main.map
/projects/**/config/pages.json
/projects/**/theme/theme.css
/projects/**/src/css/*.css
