<ul class='nav nav-tabs marg-bot-2'>
  <li role='presentation' class='active'><a href='#'><span class='glyphicon glyphicon-<%= icon1 %>'></span><%= tab1 %></a>
  </li>
  <li role='presentation'><a href='#'><span class='glyphicon glyphicon-<%= icon2 %>'></span><%= tab2 %></a>
  </li>
</ul>
