<% if( part === 'head' ) { ///////////////////////////////////////////////////////////////// %>



<div class="panel <%= style %> panel-<%= type %> view-columns min-sm-marg-bot-3">

  <% if( title != "" ) { %>

  <div class="panel-heading"><span><%= title %></span></div>

  <% } %>

  <div class="panel-body">
    <div class="row marg-all-1">



<% } else { /////////////////////////////////////////////////////////////// %>



    </div>
  </div>
</div>



<% } ////////////////////////////////////////////////////////////////////////////////////// %>
