<div class="container">

  <hr>

  <footer>

    <p>

    <span class="year">&copy; <%= new Date().getFullYear() %>
      <a href="<%= href %>"><%= left %></a>
    </span>

    <span class="pull-right"><%= right %>
    </span>

    </p>

  </footer>

</div>
