<% if( part === 'head' ) { ///////////////////////////////////////////////////////////////// %>



<div class="actions btn-group width-100" role="group" aria-label="...">



<% } else { /////////////////////////////////////////////////////////////// %>



  <span class="clearfix"></span>

</div>



<% } ////////////////////////////////////////////////////////////////////////////////////// %>
