<div class='container'>

  <div class='row'>

    <article class='login col-md-6 col-md-offset-3 marg-top-6' role='article'>

      <div class='width-80'>

        <header>
          <div class='page-header'>
            <h1 class='page-title'>Login</h1>
          </div>
        </header>

        <section class='login'>

          <form class='form-group'>

            <fieldset>

              <div class='form-group'>
                <label class='control-label'> Email </label>
                <input name='email' id='email' type='text' class='form-control' value='' placeholder='Email address'>
              </div>

              <div class='form-group marg-top-1'>
                <label class='control-label'> Password </label>
                <input type='password' class='form-control' value='' placeholder='Password'>
              </div>

            </fieldset>

            <div class='spacer marg-top-1'></div>

            <div class='form-group col-xs-12 col-sm-6 pull-left pad-none'>
              <a href='/' class='btn btn-primary width-100'> <span class='glyphicon glyphicon-log-in'></span> Login user  </a>
            </div>

            <div class='form-group col-xs-12 col-sm-6 pad-none pull-right min-sm-pad-left'>
              <button type='submit' role='button' class='btn btn-default width-100' tabindex='10'> <span class='glyphicon glyphicon-repeat'></span> Forgot password? </button>
            </div>

          </form>

        </section>

      </div>

    </article>

  </div>

</div>
