<!DOCTYPE html>

<html>

<%- include( uxproject + 'layout/alternative/head' ) %>

<body class="template-alt">

  <%- include( uxproject + page ) %>

  <%- include( uxproject + 'layout/alternative/scripts' ) %>

</body>

</html>
