<!DOCTYPE html>

<html>

  <%- include( uxproject + 'layout/head' ) %>

  <body class="template-empty">

    <%- include( uxproject + page ) %>

    <%- include( uxproject + 'layout/scripts' ) %>

  </body>

</html>
