<!DOCTYPE html>

<html>

  <%- include( uxcore + 'layout/head' ) %>

<body class="template-login">

  <%- include( uxproject + 'layout/header' ) %>

  <%- include( uxproject + page ) %>

  <%- include( uxcore + 'layout/scripts' ) %>

</body>

</html>
