<div class='pagination marg-2'>

  <div class='pagination-left'>
    <div class='counter pagination-box'>7<span>/</span>10</div>
  </div>

  <div class='pagination-centered'>
    <ul class='pagination-box'>
      <li class='arrow'>
        <a href='#' title='Go to previous page'><span class='glyphicon glyphicon-menu-left'></span></a>
      </li>
      <li>
        <a href='#' title='Go to page 1515'>5</a>
      </li>
      <li>
        <a href='#' title='Go to page 152'>6</a>
      </li>
      <li class='active'>
        <a href='#' title='Go to page 153'>7</a>
      </li>
      <li>
        <a href='#' title='Go to page 154'>8</a>
      </li>
      <li>
        <a href='#' title='Go to page 154'>9</a>
      </li>
      <li class='arrow'>
        <a href='#' title='Go to next page'><span class='glyphicon glyphicon-menu-right'></span></a>
      </li>
    </ul>
  </div>

  <div class='pagination-right'>
    <div class='btn-group' role='group' aria-label='...'>
      <button class='btn btn-default left'>Goto<span class='glyphicon glyphicon-menu-right'></span></button>
      <input type='text' class='btn btn-default right' maxlength='8' placeholder='Page #'>
    </div>
  </div>

</div>
