<% if( part === 'head' ) { ///////////////////////////////////////////////////////////////// %>



<div class="container">

  <div class="jumbotron">



<% } else { /////////////////////////////////////////////////////////////// %>



  </div>

</div>



<% } ////////////////////////////////////////////////////////////////////////////////////// %>
